{% extends "_layouts/main.njk" %}

{% block body %}
  <header class="banner">
      <img src="/assets/banner.jpg" alt="" />
      <h1>
        Ainda dá tempo de <strong>ser feliz</strong>
      </h1>
      <p>
        Fantasias premium por <span>R$ 100,00</span>
      </p>
      {% for fantasy in fantasies %}
        <a href="/show/{{ fantasy.id }}" class="button">
          Comprar agora
        </a>
      {% endfor %}
  </header>
{% endblock %}