{% extends "_layouts/product.njk" %}

{% block body %}
  <header class="banner__show">
    {% for  infos in fantasy %}
      <div>
        <img src="/files/{{ infos.image }}" alt="Foto Fantasia" />
      </div>
      <div class="banner__info__container">
        <h1>{{ infos.title }}</h1>
        <h3>{{ infos.description }}</h3>
        <h5>
          De <span>R$ {{ infos.price }},00</span> por <strong>R$ {{ infos.promotional_price }},00</strong>
        </h5>
        <p>Escolha o tamanho:</p>
        <ul>
          <li>
            <a to="#">{{ infos.size }}</a>
          </li>
        </ul>
        <button class="button modal_button">Adicionar ao carrinho</button>
      </div>
    {% endfor %}
  </header>
{% endblock %}