<section class="contato">
  <img src="/assets/white-logo.svg" alt="Logo cor secundária" />
  <p>contato@carnastore.com</p>
</section>
<section class="security">
  <img src="/assets/cards.svg" alt="" />
  <img src="/assets/security-icon.svg" alt="" />
</section>
<footer class="copyright">
  <p>
    Desenvolvido por <strong>Upping</strong>
  </p>
</footer>