<!DOCTYPE html>
<html lang="en">
  {% include "_partials/head.njk" %}
  <body>
    {% include "_partials/menu.njk" %}

    {% block body %}{% endblock %}
    
    {% include "_partials/footer.njk" %}
  </body>
</html>
