@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 18px Poppins, sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font: 400 18px Poppins, sans-serif;
}

form input {
  width: 100%;
  height: 41px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  min-height: 140px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
  resize: none;
}

button {
  cursor: pointer;
}

/* Menu */
.menu {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.menu p {
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.menu a {
  text-decoration: none;
  line-height: 45px;
  white-space: nowrap;
}

/* Button */

.button {
  width: 230px;
  height: 45px;
  background-color: #ff6143;
  border: 0;
  border-radius: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}

/* Products */
.products {
  width: 100%;
  height: auto;
  padding: 0px 30px 50px 30px;
}

.products p {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff6143;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  padding: 0 100px;
}

.cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease 0.5s;
}

.cards div:hover {
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.cards img {
  width: 100%;
  height: 522px;
  padding: 20px 20px;
}

.cards p {
  height: 50px;
  font-weight: 300;
  font-size: 21px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #000;
}

.cards p span {
  margin: 0 10px 0 10px;
  text-decoration: line-through;
}

.cards p strong {
  margin: 0 0 0 10px;
  color: #ff6143;
}

.cards a {
  margin-bottom: 29px;
  text-decoration: none;
  line-height: 45px;
  white-space: nowrap;
}

/* Contato */
.contato {
  width: 100%;
  height: 246px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: rgb(255, 97, 67);
  background: linear-gradient(
    180deg,
    rgba(255, 97, 67, 1) 0%,
    rgba(235, 54, 54, 1) 100%
  );
}

.contato img {
  padding: 0 0 47px 88px;
}

.contato p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 0 93px 47px 0;
}

/* Security */
.security {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.security img {
  padding: 0px 100px 0px 100px;
}

/* Footer */
.copyright {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  border-top: 1px solid #dadada;
}
