.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 100%;
  height: 100vh;
}

.banner h1 {
  position: absolute;
  width: 720px;
  height: 57px;
  left: 104px;
  top: 342px;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}

.banner p {
  position: absolute;
  width: 403px;
  height: 29px;
  left: 383px;
  top: 407px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.banner p span {
  color: #ff6143;
  font-weight: 700;
}

.banner a {
  text-decoration: none;
  line-height: 45px;
  white-space: nowrap;
}

.banner .button {
  position: absolute;
  left: 560px;
  top: 471px;
}
