.banner__show {
  width: 100%;
  height: 571px;
  background: rgb(240, 238, 240);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.banner__show img {
  width: 420px;
  height: 565px;
  display: flex;
}

.banner__info__container {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__info__container h1 {
  height: 29px;
  margin-bottom: 29px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.banner__info__container h3 {
  height: 65px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #565656;
}

.banner__info__container h5 {
  height: 29px;
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.banner__info__container h5 span {
  text-decoration: line-through;
}

.banner__info__container p {
  height: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.banner__info__container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner__info__container ul li {
  display: inline;
}

.banner__info__container ul li a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;

  display: inline-block;
  margin: 14px 21px 58px 0;

  background-color: rgb(240, 238, 240);
  border: 1px solid #ff6143;
  border-radius: 50px;
  color: #ff6143;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.5s;
}

.banner__info__container ul li a:hover {
  background-color: #ff6143;
  color: #fff;
}
