.form_container {
  width: 100%;
  height: 660px;
  background-color: #ff6143;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.form_container .content {
  padding: 40px;
  margin-top: 40px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
}

.form_container .content form {
  width: 100%;
  max-width: 800px;
}

.form_container .content form input,
.form_container .content form textarea {
  margin-top: 8px;
}

.form_container .content form .input_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.form_container .content form .input_group input + input {
  margin-left: 8px;
}

.form_container .content form .input_group .input_file {
  opacity: 0;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.form_container .content form .input_group .input_file + label {
  width: 50%;
  color: #ff6143;
  background-color: #fff;
  border: 1px solid #ff6143;
  border-radius: 50px;
  display: inline-block;
  line-height: 51px;
  white-space: nowrap;
  text-align: center;
  transition: filter 0.5s;
  text-transform: uppercase;
  font-weight: 600;
}

.form_container .content form .input_group .input_file:focus + label,
.form_container .content form .input_group .input_file + label:hover {
  filter: brightness(98%);
}
